body{
  margin: auto;
  width: 100%;
}
.form{
  margin: auto;
  max-width: 960px;
  background: linear-gradient(to top, rgb(40, 110, 178), rgb(190, 210, 215));
  padding: 20px;
  text-align: center;
  margin-block-end: 30px;
}
button{
  margin: auto;
  width: 40%;
  height: 30px;
  border-radius: 8px;
  background-color: dodgerblue;
}
#form1{
  display: grid;
  grid-row-gap: 10px;
}
.input1, .input2{
  display: flex;
  flex-direction: column;
}
#field1, #field2{
  width: 80%;
  margin: auto;
  height: 30px;
  border-radius: 8px;
}
#label1, #label2, #result {
  font-size: 20px;
  color: rgb(2, 26, 48);
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
}
#result{
  font-size: 30px;
  text-align: center;
}
